body {
  font-family: "Roboto Slab", serif;
}
h1 {
  font-weight: 900;
}
.fab {
  font-weight: 600;
}
.logo {
  text-align: center;
}
.logo-img {
  width: 150px;
}
header {
  display: block;
  padding-left: 33%;
  padding-right: 33%;
}
.piedipagina {
  text-align: center;
  color: rgb(0, 100, 0);
  background-color: rgba(249, 211, 141, 0.16);
  padding: 15px;
  border-top: 3px solid rgba(249, 211, 141, 0.668);
}
h1 {
  color: rgba(0, 0, 0, 0.862);
  text-align: center;
}
.focaccia {
  width: 100%;
}
.ex-link {
  padding-left: 50px;
  border-left: 2px solid rgba(249, 211, 141, 0.668);
}
main {
  display: block;
  padding-left: 33%;
  padding-right: 33%;
}
li {
  padding: 4px;
}
.feat {
  color: rgba(180, 48, 0, 0.658);
}
footer {
  display: block;
  padding-left: 32%;
  padding-right: 32%;
}
video {
  border-radius: 20px;
  box-shadow: 10px 10px 5px #5b5a5a;
  width: 100%;
}
.photo {
  text-align: center;
  color: #5b5a5a76;
  font-weight: 600;
}
h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #48c3dc56;
}
.foot {
  padding-left: 25px;
}
.one {
  padding-left: 15px;
}
